body{
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 0;
    overflow: hidden;
    background-color:#626063
  }

li {
    float: right;
  }
  li a {
    display: block;
    padding: 8px;
    margin-top: 6px;
    color: #FEC9F1;
    font-size: 19px;
  }
  #name {
    float: left;
    display: block;
    padding: 8px;
    padding-left: 40px;
    background-color: #FEC9F1;
    color:#626063;
    font-size: 30px

  }